@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
  --black-color: #1a1a1a;
  --white-color: #FFFFFF;
  --primary-color: #f0f0f0;
  --secondary-color: #55D8C6;
}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
  background-color: var(--primary-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 51.75rem;
  padding: 2.6rem 4rem 0 4rem;
  border-radius: 1.5rem;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.1rem 0.2rem;
}

.checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
}

.slider {
  overflow: hidden;
  border-radius: 1.2rem;
  margin: 0 -2rem;
}

.slider__container {
  display: flex;
  align-items: center;
  width: 400%;
  transition: all .75s;
}

.slide {
  display: flex;
  margin: 0 2rem;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 1.2rem;
}

.checkbox-one:checked ~ .slider .slider__container {
  transform: translateX(0);
}

.checkbox-two:checked ~ .slider .slider__container {
  transform: translateX(-25%);
}

.checkbox-three:checked ~ .slider .slider__container {
  transform: translateX(-50%);
}

.checkbox-four:checked ~ .slider .slider__container {
  transform: translateX(-75%);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2rem 0;
}

.title__container {
  overflow: hidden;
  margin-left: -2rem;
}

.title__slider {
  width: 400%;
  display: flex;
  transition: all .75s;
}

.title {
  text-align: left;
  font-size: 1.5em;
  width: 100%;
  margin-left: 2rem;
}

.checkbox-one:checked ~ .controls .title__slider {
  transform: translateX(0%);
}

.checkbox-two:checked ~ .controls .title__slider {
  transform: translateX(-25%);
}

.checkbox-three:checked ~ .controls .title__slider {
  transform: translateX(-50%);
}

.checkbox-four:checked ~ .controls .title__slider {
  transform: translateX(-75%);
}

.controls__container {
  display: flex;
  gap: 0.25rem;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.6rem;
  height: 3rem;
}

.control__btn {
  background-color: var(--white-color);
  width: 1.36rem;
  height: 1.36rem;
  border-radius: 80%;
  border: 0.14rem solid var(--secondary-color);
  transition: all .2s linear;
}

.control:hover > .control__btn {
  border: 0.32rem solid var(--secondary-color);
}

.control:active > .control__btn {
  border: 0.5rem solid var(--secondary-color);
  opacity: 0.6;
}

.checkbox-one:checked ~ .controls .control-one .control__btn,
.checkbox-two:checked ~ .controls .control-two .control__btn,
.checkbox-three:checked ~ .controls .control-three .control__btn,
.checkbox-four:checked ~ .controls .control-four .control__btn {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {

  .container {
    border-radius: 1rem;
    padding: 2.6rem 3rem 0 3rem;
  }

  .slider {
    margin: 0 -1.5rem;
  }

  .slide {
    margin: 0 1.5rem;
  }

  .controls { 
    flex-direction: column;
    gap: 1rem;
  }

  .title__container {
    order: 2;
    margin: 0 -1.5rem;
  }

  .title {
    margin: 0 1.5rem;
  }

  .controls__container {
    order: 1;
  }
}

@media screen and (max-width: 640px) {

  .container {
    padding: 2.6rem 1.4rem 0 1.4rem;
  }

  .slider {
    margin: 0 -0.6rem;
  }

  .slide {
    margin: 0 0.6rem;
  }

  .title__container {
    margin: 0 -0.6rem;
  }

  .title {
    margin: 0 0.6rem;
  }
}

@media screen and (max-width: 480px) {

  .container {
    border-radius: 0.4rem;
    padding: 2rem 0.6rem 0 0.6rem;
  }

  .slider {
    border-radius: 0.6rem;
    margin: 0 -0.3rem;
  }

  .slide {
    margin: 0 0.3rem;
  }

  .slide img {
    border-radius: 0.6rem;
  }

  .title__container {
    margin: 0 -0.3rem;
  }

  .title {
    margin: 0 0.3rem;
    font-size: 1.35em;
  }
}

@media screen and (max-width: 375px) {
  
  .title {
    font-size: 1.14em;
  }
}